// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Beehiiv from "../../../index.js";

export declare namespace BulkSubscriptionsClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BulkSubscriptionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BulkSubscriptionsClient.Options>;

    constructor(options: BulkSubscriptionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create new subscriptions for a publication.
     *
     * @param {Beehiiv.PublicationId} publicationId - The prefixed ID of the publication object
     * @param {Beehiiv.BulkSubscriptionsCreateRequest} request
     * @param {BulkSubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Beehiiv.BadRequestError}
     * @throws {@link Beehiiv.NotFoundError}
     * @throws {@link Beehiiv.TooManyRequestsError}
     * @throws {@link Beehiiv.InternalServerError}
     *
     * @example
     *     await client.bulkSubscriptions.create("pub_00000000-0000-0000-0000-000000000000", {
     *         subscriptions: [{
     *                 email: "bruce.wayne@wayneenterprise.com",
     *                 reactivate_existing: false,
     *                 send_welcome_email: false,
     *                 custom_fields: [{
     *                         name: "Favorite Color",
     *                         value: "Red"
     *                     }]
     *             }, {
     *                 email: "lucius.fox@wayneenterprise.com",
     *                 reactivate_existing: false,
     *                 send_welcome_email: false,
     *                 custom_fields: [{
     *                         name: "Favorite Color",
     *                         value: "Blue"
     *                     }]
     *             }]
     *     })
     */
    public create(
        publicationId: Beehiiv.PublicationId,
        request: Beehiiv.BulkSubscriptionsCreateRequest,
        requestOptions?: BulkSubscriptionsClient.RequestOptions,
    ): core.HttpResponsePromise<Beehiiv.BulkSubscriptionCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(publicationId, request, requestOptions));
    }

    private async __create(
        publicationId: Beehiiv.PublicationId,
        request: Beehiiv.BulkSubscriptionsCreateRequest,
        requestOptions?: BulkSubscriptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Beehiiv.BulkSubscriptionCreateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BeehiivEnvironment.Default,
                `publications/${core.url.encodePathParam(publicationId)}/bulk_subscriptions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Beehiiv.BulkSubscriptionCreateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Beehiiv.BadRequestError(_response.error.body as Beehiiv.Error_, _response.rawResponse);
                case 404:
                    throw new Beehiiv.NotFoundError(_response.error.body as Beehiiv.Error_, _response.rawResponse);
                case 429:
                    throw new Beehiiv.TooManyRequestsError(
                        _response.error.body as Beehiiv.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Beehiiv.InternalServerError(
                        _response.error.body as Beehiiv.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.BeehiivError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/publications/{publicationId}/bulk_subscriptions",
        );
    }
}
