// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Beehiiv from "../../../index.js";

export declare namespace SubscriptionTagsClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SubscriptionTagsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubscriptionTagsClient.Options>;

    constructor(options: SubscriptionTagsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Adds tags to a subscription. If the tag does not exist on the publication, it will be created automatically.
     *
     * @param {Beehiiv.PublicationId} publicationId
     * @param {Beehiiv.SubscriptionId} subscriptionId
     * @param {Beehiiv.SubscriptionTagsCreateRequest} request
     * @param {SubscriptionTagsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Beehiiv.BadRequestError}
     * @throws {@link Beehiiv.NotFoundError}
     * @throws {@link Beehiiv.TooManyRequestsError}
     * @throws {@link Beehiiv.InternalServerError}
     *
     * @example
     *     await client.subscriptionTags.create("publicationId", "subscriptionId", {
     *         tags: ["Premium", "Basic"]
     *     })
     */
    public create(
        publicationId: Beehiiv.PublicationId,
        subscriptionId: Beehiiv.SubscriptionId,
        request: Beehiiv.SubscriptionTagsCreateRequest = {},
        requestOptions?: SubscriptionTagsClient.RequestOptions,
    ): core.HttpResponsePromise<Beehiiv.SubscriptionTagsCreateResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__create(publicationId, subscriptionId, request, requestOptions),
        );
    }

    private async __create(
        publicationId: Beehiiv.PublicationId,
        subscriptionId: Beehiiv.SubscriptionId,
        request: Beehiiv.SubscriptionTagsCreateRequest = {},
        requestOptions?: SubscriptionTagsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Beehiiv.SubscriptionTagsCreateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BeehiivEnvironment.Default,
                `publications/${core.url.encodePathParam(publicationId)}/subscriptions/${core.url.encodePathParam(subscriptionId)}/tags`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Beehiiv.SubscriptionTagsCreateResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Beehiiv.BadRequestError(_response.error.body as Beehiiv.Error_, _response.rawResponse);
                case 404:
                    throw new Beehiiv.NotFoundError(_response.error.body as Beehiiv.Error_, _response.rawResponse);
                case 429:
                    throw new Beehiiv.TooManyRequestsError(
                        _response.error.body as Beehiiv.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Beehiiv.InternalServerError(
                        _response.error.body as Beehiiv.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.BeehiivError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/publications/{publicationId}/subscriptions/{subscriptionId}/tags",
        );
    }
}
